/*Fuente principal*/
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

/*Variables de color y de fuentes*/
$bgMainColor: hsl(212, 45%, 89%);
$bgCard:#ffffff;
$h1Color: hsl(218, 44%, 22%);
$pColor: hsl(220, 15%, 55%);
$font: "Outfit", sans-serif;